@page "/Agregarvisita"
@rendermode InteractiveServer

<PageTitle>Agregando visita...</PageTitle>

<h3>Datos de la visita</h3>


@code{
    Visitas instancia = new Visitas();

    async Task GuardarDatos(){
        
    }
}