@page "/"
@inject NavigationManager Navman
@rendermode InteractiveServer
@inject VisitasDbContext Vc
@using Microsoft.EntityFrameworkCore;

<PageTitle>Inicio</PageTitle>

<div>
    <center>
        <h3>Visitas a la empresa</h3>
    </center>
</div>
<br>

<p>Visitas agregadas</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Telefono</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in lista){

            <tr>
                <td>@item.Nombre</td>
                <td>@item.Apellido</td>
                <td>@item.Correo</td>
                <td>@item.Telefono</td>
            </tr>
        }
    </tbody>
</table>

<div class="text-end">
    <center>
        <button type="button" @onclick = "AgregarNueva" class="btn btn-success">Agregar visita</button>
    </center>
</div>



@code{

    List<Visitas> lista = new List<Visitas>();
    
    private void AgregarNueva(){

        Navman.NavigateTo("/Agregarvisita");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender){

        if (firstRender){

            lista = await Vc.Visitas.ToListAsync();
            StateHasChanged();
        }
    }
}    
